autom4te.cache/
build-aux/
configure
Makefile.in
Makefile
config.status
src/.deps/
src/.dirstamp
src/stamp-h1
src/tests/.deps/
src/tests/.dirstamp
nscsearch
nscsearch.a
src/config-gbsc.h
src/config-gbsc.h.in
*.o
/data
tmp/
configure~
config.log
vgcore.*
output/
.deps/
liblcrsearch.a
libnscsearch.a
testlcrsearch
testnscsearch
include/config-nscsearch.h.in
include/config-nscsearch.h
.dirstamp
build/
install-root/
m4/
__pycache__/
include/config-nscsearch.h.in~
doc/
result